
header {

  background-color: salmon;
  font-family: 'Mynerve', cursive;
  font-size: 120px;
  font-weight: 600;
  padding: 20px;

  text-align: center;
}

header h1 {
  color:beige;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: olive;
  font-family: 'Mynerve', cursive;
  font-size: 100px;
  font-weight: 700;

  padding: 10px;
  text-align: center;
}
.sales-header {
  color:beige;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: olive;
}

nav {
  font-family: 'Shantell Sans', cursive;
  font-size: 30px;
  font-weight:600;
  text-align:center;
}

li {
  background-color: olive;
  padding: 10px;
  display: inline;
  border: 2px solid beige
}

a {
  color:beige;
  text-decoration: none;
}

a:hover {
  background-color: salmon;
  color: beige;

}

body {
  background-color: beige;
}

div {
  display: flex;
  justify-content: center;
  padding: 50px;
}

h2 {
  color: olive;
  font-family: 'Shantell Sans', cursive;
  font-size: 50px;
  font-weight: 600;
  padding: 15px;
  text-align: center; 
}

.store-return {
  color: olive;
  font-family: 'Shantell Sans', cursive;
  font-size: 25px;
  font-weight: 600;
  padding: 15px;
  text-align: center; 
}
.store-return a {
  background-color: salmon;
  color: beige;
  border: 2px solid olive;
  padding: 8px;
}
.store-return a:hover {
  background-color: olive;
  color: beige;
}

#intro {
  color: olive;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  padding:20px;
  margin:100px;
  border: solid 5px olive;
  text-align: center;
}

#about {
  color: olive;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  padding:5px;
  margin:100px;
  text-align: center;
  line-height: 50px;
}

.shirt-caption {
  color: olive;
  font-family: 'Shantell Sans', cursive;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.shirt-caption a {
  background-color: salmon;
  color: beige;
  border: 2px solid olive;
  padding: 8px;
}
.shirt-caption a:hover {
  background-color: olive;
  color: beige;
}

h6 {
  color: beige;
  font-family: 'Shantell Sans', cursive;
  font-size: 30px;
  padding: 15px;
  text-align: center;
}

.cookie-images {
  display: flex;
  justify-content: space-evenly;
}

table {
  border: 2px solid black;
  background-color: beige;
  color:olive;
  table-layout: auto;
  text-align: center; 
  margin: 100px;
}
th {
  font-size: 20px;
}
th, td {
  padding: 15px;
  border: 1px solid black;
}

form {
  margin:auto;
  /* display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column; */
}
form legend {
  font-family: 'Shantell Sans', cursive;  
  font-size: 35px;
  padding: 15px;
}
form label {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
  margin:10px;
}
#new-store {
  background-color: salmon;
  color: beige;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 2px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  
}
button {
  width: 70px;
  align-self: center;
  margin: 15px;
  background-color: olive;
  color:beige;
}
footer {
  background-color: salmon;
  color:beige;
  text-align:left;
  display: flex;
}

.footer-image {
  display: flex;
  justify-content: flex-start;
}

.hours {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:30px;
  color:olive;
  line-height: 40px;
  text-align: center;
  display: flex;
  justify-content:center;
}
#locations {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:20px;
  display: flex;
  justify-content:flex-start;
}
.contact {
  font-size: 30px;
  /* display: flex;
  justify-content: space-around; */
}